.navbar{
	min-height: 0;
}
.navbar-header{
	a{
		&.navbar-brand{
			height: auto;
			img{
				@media(max-width: 991px){
					max-width: 200px;
					height: auto;

				}
			}
		}

	}
}

#navbar{
	ul{
		li{
			a{
				background-color: transparent;
				@include font-size(16px);
				color: $azul;
				border-top: 6px solid transparent;
				transition: all .3s ease;
				&:hover, &:focus{
					color: $celeste;
					border-top: 6px solid $amarillo;
				}
				svg{

						//border-top: 6px solid transparent;
						&:hover, &:focus{

							//border-top: 6px solid transparent;
						}

				}
				&.icon-wrapper{
					border: 6px solid transparent;
					color: $celeste !important;
					&:hover{
						border: 6px solid transparent;
						color: $azul !important;
					}
				}
			}
			&.active{
				a{
					display: block;
					color: white;
					border-top: 6px solid transparent;
					&:hover, &:focus{
						@include link;
						color: white !important;
						border-top: 6px solid transparent;
					}
					span{
						display: block;
						background-color: $celeste;
						padding: 0px 10px;
					}
				}
			}

		}
	}
}

section#barra{
	margin-top: 112px;
	@media(max-width: 991px){
		margin-top: 66px;
	}
}
