.navbar{
	min-height: 0;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
	max-height: none;
}

.navbar-header{
	a{
		&.navbar-brand{
			height: auto;
			img{
				margin-top: 30px;
				@media(max-width: 1024px){
					margin-top: 40px;
					max-width: 230px;
					height: auto;
				}
				@media(max-width: 991px){
					max-width: 200px;
					height: auto;
					margin-top: 20px;
				}


			}
		}

	}
}

#navbar{
	ul{
		li{
			a{
				background-color: transparent;
				@include font-size(16px);
				color: $azul;
				border-top: 6px solid transparent;
				transition: all .3s ease;
				&:hover{
					color: $celeste;
					border-top: 6px solid $amarillo;
				}
				svg{

						//border-top: 6px solid transparent;
						&:hover{

							//border-top: 6px solid transparent;
						}

				}
				&.icon-wrapper{
					border: 6px solid transparent;
					color: $celeste !important;
					&:hover{
						border: 6px solid transparent;
						color: $azul !important;
					}
				}
			}
			&.active{
				a{
					display: block;
					color: white;
					border-top: 6px solid transparent;
					&:hover{
						@include link;
						color: white !important;
						border-top: 6px solid transparent;
					}
					span{
						display: block;
						background-color: $celeste;
						padding: 0px 10px;
					}
				}
			}

		}
	}
}

section#barra{
	margin-top: 112px;
	@media(max-width: 991px){
		margin-top: 66px;
	}
	#logo-seguros{
		@media(max-width: 768px){
			margin-top: 20px;
		}
		@media(max-width: 767px){
			margin-top: -60px;
		}
	}
}
