#slider-top{
        position: relative;
		//margin-bottom: 50px;
		//max-width: 600px;
		//display: table;
		margin: 0 auto;
		@media(max-width:768px){
			margin-bottom: 0px;
		}
		@include owl-css;
		.owl-next{
			right: 0;
		}
		.owl-prev{
			left: 0;
		}
}


   #slider-historias {
        position: relative;
		margin-bottom: 50px;
		max-width: 600px;
		//display: table;
		margin: 30px auto 0 auto;
		@media(max-width:768px){
			margin-bottom: 0px;
			max-width: 250px;
		}
		@include owl-css;
		.item{
			a{
				img{
					&.layer{
						position: absolute;
						opacity: 0;
						transition: all .3s ease;
						@media(max-width:1024px){
							opacity: 1;
						}
					}
					&.ico-play{
						@include centerer(true, true);
						width: 49px;
						height: 49px;
						z-index: 10;
						top: calc(50% - 25px);
						transition: all .3s ease;
						opacity: 0;
						@media(max-width:1024px){
							opacity: 1;
						}

					}
				}
				&:hover{
					img{
						&.layer{
							position: absolute;
							opacity: 1;
						}
						&.ico-play{
							top: calc(50% - 35px);
							opacity: 1;
							@media(max-width:1024px){
								top: calc(50% - 25px);
							}
							@media(max-width:768px){
								top: calc(50% - 25px);
							}
						}
					}
				}
			}
			p{
				text-align: center;
				@include font-size(16px);
				color: white;
			}
		}

}











