section#bienvenidos{
	padding: 40px 0;
	text-align: center;
}
section#historias{
	min-height: 680px;
	//padding-top: 50px;
	@media(max-width: 1024px){
		min-height: 750px;
	}
	@media(max-width: 767px){
		min-height: 730px;
	}

	.section-title{
		h1{
			@include font-size(30px);
			color: white;
			font-weight: 700;
			margin-bottom: 10px;
			@media(max-width:767px){
				@include font-size(24px);
				line-height: 21px;
			}
		}


		p{
			font-weight: 700;
			color: white;
			text-align: center;
			max-width: 600px;
			@include font-size(20px);
			line-height: 27px;
			&.verde{
				text-transform: uppercase;
				color: $amarillo;
				margin-top: 10px;
			}
			@media(max-width:767px){
				@include font-size(18px);
				line-height: 21px;
			}
			&.invitamos{
				@include font-size(20px);
				margin-bottom: 30px;
				font-weight: 700;
				@media(max-width:767px){
				@include font-size(18px);
				line-height: 21px;
			}

			}
		}
	}
}
