section#participa{
	//padding-top: 280px;
	padding-bottom: 100px;
	.section-title{
		p{
			font-weight: 700;
			color: white;
			text-align: center;
			@include font-size(30px);
			text-transform: uppercase;
			@media (max-width: 768px){
				@include font-size(25px);

			}

		}
	}
	#formParticipa{
		margin-top: 50px;
		@media (max-width: 768px){
			margin-top:20px;

		}
		.form-group{
			label{
				color: #0d4f8f;
				@include font-size(16px);
				font-weight: 500;
				&.comment{
					color: white;
				}
			}
			.form-control{
				border-radius: 20px;
				border: 2px solid #0d4f8f;
				//height: 44px;
				background-color: transparent;
				color: white;
			}
			textarea{
				&.form-control{
					background-color: #fff;
					color: $azul;
					border-color: transparent;
					border: none;

				}
			}
			&.comment{
				label{
					@include font-size(16px);
					display: table;
					text-align: center;
					margin: 30px auto;
				}
			}
		}
		.btn-enviar{
			background-color: $azul-claro;
			margin-right: 15px;
			@include font-size(18px);
			color: white;
			font-weight: 700;
			text-transform: uppercase;
			border-radius: 0;
			border: none;
			padding: 8px 50px;
			display: table;
			margin: 0 auto;

			@media (min-width: 768px){
				float: right;
				margin-right: 20px;
			}
		}
	}
}
